<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dz.ibnrochd.master14.Mapper.RendezVousMapper">

        <insert id="insert" parameterType="dz.ibnrochd.master14.model.RendezVous">
            INSERT INTO cabinet.rendez_vous (date_rdv, id_patient)
            VALUES (#{dateRdv}, #{patient.id})
        </insert>

        <select id="selectById" resultType="dz.ibnrochd.master14.model.RendezVous" parameterType="int">
            SELECT * FROM cabinet.rendez_vous WHERE id = #{id}
        </select>

        <select id="selectByPatientId" resultType="dz.ibnrochd.master14.model.RendezVous" parameterType="int">
            SELECT * FROM cabinet.rendez_vous WHERE id_patient = #{patientId}
        </select>

        <update id="update" parameterType="dz.ibnrochd.master14.model.RendezVous">
            UPDATE cabinet.rendez_vous SET date_rdv = #{dateRdv}, id_patient = #{patient.id} WHERE id = #{id}
        </update>

        <delete id="delete" parameterType="int">
            DELETE FROM cabinet.rendez_vous WHERE id = #{id}
        </delete>

</mapper>
